:root {
    --colorBlanco: #ffffff;
    --colorTurquesa: #a4e1d1;
    --colorVerdeClaro: #8dd9c6;
    --colorVerde: #20a585;
    --colorVerdePrincipal: #157c65;
    --colorVerdeMuyOscuro: #0b4f3e;
    --colorSuperOscuro: #003826;
}

* {
    margin: 0;
    padding: 0;
}