@import "mainConfig.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.registro-container {
    margin-top: 0px;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 420px;
    
}

/* ==== Título ==== */
.registro-titulo {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    color: #333;
}

/* ==== Formulario ==== */
.registro-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 18px;
    
}

.form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #444;
}

.form-input {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    background-color: #f0f0f0; 
    border: none;
    padding-left: 5px;


}

.form-input:focus {
    border-color: var(--colorVerdeOscuro);
    box-shadow: 0 0 5px var(--colorVerdePrincipal);
    outline: none;
}

/* ==== Botón ==== */
.form-submit {
    background-color: var(--colorVerdePrincipal);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    
}

.form-submit:hover {
    background-color: #8dd9c6;
}

/* ==== Footer del formulario ==== */
.form-footer {
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
    color: #555;
}

.form-link {
    color: var(--colorVerdePrincipal);
    text-decoration: none;
    font-weight: bold;
}

.form-link:hover {
    text-decoration: underline;
}
